PUID=1000
PGID=1000
TZ=Etc/UTC

BACKUP_DIR=/home/server/.local/backups
DATA_DIR=/home/server/.local/data

DOMAIN=mydomain.eu

APPS_PORT=12101
APPS_PORT_SSL=12102
CAL_PORT=12103
DATA_PORT=12104
FILES_PORT=12105
GRAMMAR_PORT=12106
GRIST_PORT=12107
HOME_PORT=12108
MEETINGS_PORT=12109
OFFICE_PORT=12110

APPS_MONGODB_ROOT_PASSWORD=monkeybutts
APPS_ENCRYPTION_PASSWORD=monkeybutts
APPS_POSTGRES_PASSWORD=monkeybutts

DATA_NOCODB_POSTGRES_PASSWORD=monkeybutts
DATA_NOCODB_POSTGRES_USER=data_nocodb
DATA_DATA_NOCODB_POSTGRES_PASSWORD=monkeybutts
DATA_DATA_NOCODB_POSTGRES_USER=data_nocodb_data

GRAMMAR_LOCALE_LANGUAGE=en_GB.UTF-8
GRAMMAR_LANGTOOL_LANGUAGE=en_GB:en
GRAMMAR_DOWNLOAD_NGRAM_LANGS=

GRIST_SINGLE_ORG=myorg
GRIST_SESSION_SECRET=change-this-to-a-random-secret
GRIST_POSTGRES_PASSWORD=monkeybutts

CAL_MYSQL_PASSWORD=monkeybutts
CAL_MYSQL_ROOT_PASSWORD=monkeybutts