services:
  cal_baikal:
    image: ckulka/baikal:nginx
    restart: always
    ports:
      - '${CAL_PORT}:80'
    volumes:
      - cal_config:/var/www/baikal/config
      - cal_data:/var/www/baikal/Specific
    networks:
      - frontend
      - database
    depends_on:
      cal_db:
        condition: service_healthy

  cal_db:
    image: mariadb:10
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${CAL_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: cal
      MYSQL_USER: cal
      MYSQL_PASSWORD: ${CAL_MYSQL_PASSWORD}
    volumes:
      - cal_db:/var/lib/mysql
    networks:
      - database

volumes:
  cal_config:
  cal_data:
  cal_db:
